.begin-boilerplate {
  padding: 0 1rem 2rem;
  display: block;
  margin: 0 auto;
  max-width: 500px;
  h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  .code-box {
    display: flex;
    padding: 4rem 0 1rem;
    width: 100%;
    pre {
      font-size: 1em;
      overflow-x: auto;
      padding: 1rem;
      background-color: #333;
      border-radius: 4px;
      color: greenyellow;
      box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);
      margin: 0;
      flex-grow: 1;
      // text-align: center ;
    }

    a.btn {
      margin-left: 1rem;
      line-height: 30px;
      margin-bottom: 0;
      span {
        margin-right: 0.25rem;
      }
      * {
        vertical-align: middle;
      }
    }

  }
  .connected-steps {
    display: flex;
    width: 360px;
    margin: 0 auto;
    align-items: center;

  }

  .step {
    color: #fff;
    background-color: #fff;
    display: block;
    border: 4px solid #CCC;
    border-radius: 36px;
    width: 72px;
    height: 72px;
    text-align: center;

    .text {
      line-height: initial;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .connector {
    flex-grow: 1; //fill the space
    width: 36px;
    content: "";
    display: block;
    height: 4px;
    background-color: #ccc;
  }
}