.site-nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 64rem;
  width: 100%;
  border-bottom: 1px solid rgba($color: #000, $alpha: 0.5);
  .brand-name {
    color: #000;
    display: inline-block;
    padding-left: 1rem;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    &:hover {
      text-decoration: none;
    }
  }
  .navlist {
    max-width: 100%;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    flex-direction: row;
    > li {
      list-style-type: none;
      margin-right: -1px;
      > a {
        color: darken(#000, 5);
        display: inline-block;
        padding: 0.75rem 1rem;
        &:hover {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }

  &.dark {
    border-bottom: 1px solid rgba($color: $header-heading-color, $alpha: 0.5);
    .brand-name {
      color: $header-heading-color;
    }
    .navlist > li > a {
      color: darken($color: $header-heading-color, $amount: 5);
      &:hover {
        color: $header-heading-color;
      }
    }
  }
}
.page-header {
  .flex {
    padding-top: 5em;
    display: flex;
    margin: 0 auto;
    width: 830px;
    padding-bottom: 2rem;

    @include medium {
      // flex-direction: column;
      width: 100%;
      padding: 3rem 1rem;
      .title, #container {
        font-size: 1.75rem;
      }
    }
  
    @include small {
      flex-direction: column;
      width: 100%;
      padding: 2rem 1rem;
      .title, #container {
        font-size: 1.5rem;
      }
    }
  }
  .title {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
  }
  #container {
    color: white;
    overflow: hidden;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    border-right: 0.15em solid white;
    display: inline-block;
    animation: blink-caret 0.75s step-end infinite;
  }

  #container.type-clear {
    animation: clear-typing 1s steps(30, end),
      blink-caret 0.75s step-end infinite;
  }
}

.page-header-fixed {
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.page-header-fixed + main {
  padding-top: 80px;
}

.code-tabs {
  display: flex;
  flex-wrap: wrap;
  p {
    flex: 0 1 auto;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  p.selected {
    border-bottom: 1px solid #000;
  }
  p + pre, p + .highlighter-rouge {
    display: none;
  }
  p.selected + pre, , p.selected + .highlighter-rouge {
    order: 1;
    display: block;
    width: 100%;
    flex: 0 0 100%;
  }
}

.hide {
  display: none;
}

@keyframes clear-typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
